  <footer class="footer">

    <!-- <section>
      <a href="#"><img src="/assets/logo-facebook.svg"></a>
      <a href="#"><img src="/assets/logo-instagram.svg"></a>
      <a href="#"><img src="/assets/logo-twitter.svg"></a>
      <a href="#"><img src="/assets/logo-youtube.svg"></a>
    </section>
    <section>
      <a href="#">Privacy</a>
      <a href="#">Voorwaarden</a>
      <a href="#">Feedback</a>
    </section> -->

  </footer>
  <script src="/scripts/script.js"></script>
</body>
</html>