<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="/styles/overzicht.css" rel="stylesheet">
  <link href="/styles/service.css" rel="stylesheet">
  <title>De Buurtcampus</title>
</head>
<body>
  <header>

    <section>
      <a href="/">AmsBuurt<span>Connect</span></a>
      <img src="/assets/menu.svg" alt="Hamburger icon">
    </section>

    <nav>
      <a href="/overzicht">Overzicht</a>
      <a href="#">Over ons</a>
      <a href="#">Contact</a>
    </nav>
    
  </header>