<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

    <section class="main__index--hero"></section>

    <section class="main__index--article">
        <h2>Wat is West<span>Connect</span>?</h2>
        <p>WestConnect is een initiatief om mensen in de buurt met elkaar te verbinden. Vrijwilligers gezocht, zoek jij die ene toffe muzikant voor op je buurtfeestje of organiseer je een theekransje voor ouderen? Alles is welkom!</p>
        <a href="#">Lees meer...</a>
    </section>

    <section class="main__index--article green">
        <h2>Vraag en aanbod</h2>
        <p>Benieuwd geworden naar wat de Buurtcampus te bieden heeft? Klik op de link hieronder en ontdek het zelf!</p>
        <a href="/overzicht">Overzicht ➜</a> 
    </section>

    <section class="main__index--article">
        <h2>Wie zijn het?</h2>
        <p>WestConnect heeft zijn bestaan te danken aan een groep buurtbewoners die samen kwamen met een wens om een platform te creeëren waar buurtinitiatieven met vraag en aanbod elkaar kruisen. Op deze manier is er een platform waar buurtbewoners meer informatie kunnen vinden over initiatieven in de buurt.</p>
        <a href="#">Lees meer...</a>  
    </section>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>