<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

  <ul class="overzicht__container">
    <% services.forEach(function(service) { %>
       <li>
        <h1><%= service.title %></h1>
       </li>
    <% }); %> 
  </ul>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>