<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main>

<h1>Dank je wel!</h1>
<h2>Je initiatief zal geplaatst worden.</h2>
<a href="/">Terug naar home</a>

</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>