/* ------------- Root ------------- */

:root {
  --base--white: #fff;
  --base--grey-97: #F8F8F8;
  --base--grey-62: #AAA;
  --base--grey-19: #4A4A4A;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #e3ebdd;
}

/* ------------- Main ------------- */

.overzicht__service {
  width: 90vw;
  margin: 2em auto;
  border-radius: 8px;
  background-color: var(--secondary--green-accent);
}

.overzicht__service img {
  width: 90vw;
  border-radius: 8px 8px 0 0;
}

.overzicht__service--tekst {
  padding: 1em;
}

.overzicht__service--tekst h2 {
  margin-top: 0;
}

/* ------------- Media Queries ------------- */


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .overzicht__container {
    width: 80vw;
    margin: 0 auto;
  }

  .overzicht__service {
    width: 34em;
  }

  .overzicht__service img {
    width: 34em;
    height: 16em;
    object-fit: cover;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .overzicht__container {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
  }
  
  .overzicht__service {
    max-width: 24em;
  }

  .overzicht__service img {
    max-width: 24em;
    height: 16em;
    object-fit: cover;
  }
}

@media screen and (min-width: 1600px) {
  .overzicht__container {
    margin: 0 auto;
    display: grid;
    gap: 2em 4.4em;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
  }
  
  .overzicht__service {
    width: 22em;
  }

  .overzicht__service img {
    max-width: 22em;
    height: 16em;
    object-fit: cover; 
  }
}