/* ------------- Root ------------- */

:root {
  --base--white: #fff;
  --base--grey-97: #F8F8F8;
  --base--grey-62: #AAA;
  --base--grey-19: #4A4A4A;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #e3ebdd;
}

/* ------------- Main ------------- */

.service__container {
  margin: 0 auto;
  width: 80vw;
}

.service__container h2 {
  margin: 0;
  margin-top: 0.4em;
}

.service__container p {
  margin: 0.4em 0;
}

.service__container a {
  background-color: var(--primary--green-accent);
  color: var(--base--white);
  padding: 0.6em;
  border-radius: 16px;
  margin: 1em 0;
  display: block;
  max-width: max-content;
}

.service__image {
  width: 80vw;
  padding: 1.4em 0 1em 0;
  border-top: solid 2px var(--base--grey-62);
} 

.service__categories {
  text-transform: uppercase;
  color: var(--base--grey-62);
  margin: 0;
}

.service__contactinfo {
  display: flex;
  align-items: center;
  gap: 2em;
  border-top: solid 2px var(--base--grey-62);
}

.service__contactinfo a {
  display: none;
}

.service__contactinfo img {
  width: 5em;
  height: 5em;
}

.service__contactinfo--left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* ------------- Main ------------- */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .service__container {
    width: 80vw;
    margin: 0 auto;
  }

  .service__container h2 {
    font-size: 2em;
  }

  .service__container p {
    max-width: 28em;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .service__container p:nth-of-type(1) {
    margin: 0;
  }

  .service__container a {
    font-size: 1.2em;
  }

  .service__contactinfo {
    justify-content: space-between;
  }

  .service__contactinfo--left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .service__contactinfo a {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  
  .service__container {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 74vh;
  }

  .service__container p {
    max-width: 28em;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .service__container p:nth-of-type(1) {
    margin: 0;
  }

  .service__container a {
    font-size: 1.4em;
  }

  .service__container h2 {
    font-size: 2em;
  }

  .service__image {
    width: 30em;
    height: 30em;
    object-fit: cover;
    border: none;
    padding: 0;
    margin: 1em;
    border-radius: 8px;
  }

  .service__contactinfo {
    border: none;
    display: none;
  }
}