/* ------------- Root & Font ------------- */

@font-face {
  font-family: 'Medium';
  src: url('/fonts/Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Bold';
  src: url('/fonts/Bold.otf') format('opentype');
}

:root {
  --base--white: #fff;
  --base--grey-97: #F8F8F8;
  --base--grey-62: #AAA;
  --base--grey-19: #4A4A4A;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #e3ebdd;
}

/* ------------- Elements ------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Medium', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary--green-accent);
}

ul, li, a {
  padding: 0;
  color: unset;
  text-decoration: none;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Medium', sans-serif;
}

/* ------------- Header ------------- */



/* ------------- Main ------------- */


/* ------------- Footer ------------- */



/* ------------- Media Queries ------------- */