/* ------------- Root & Font ------------- */

@font-face {
  font-family: 'Medium';
  src: url('/fonts/Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Bold';
  src: url('/fonts/Bold.otf') format('opentype');
}

:root {
  --base--white: #fff;
  --base--grey-97: #F8F8F8;
  --base--grey-62: #AAA;
  --base--grey-19: #4A4A4A;
  --base--black: #202020;

  --primary--green-accent: #41bd66;
  --secondary--green-accent: #e3ebdd;
}

/* ------------- Elements ------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Medium', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

span {
  color: var(--primary--green-accent);
}

ul, li, a {
  padding: 0;
  color: unset;
  text-decoration: none;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Medium', sans-serif;
}

/* ------------- Header ------------- */

header {
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  margin: 0.6em;
  font-size: 1.6em;
  font-weight: bold;
}

.header__icon {
  margin: 0.6em;
  height: 32px;
  width: 32px;
}

.header__nav a {
  padding: 0.6em;
  font-size: 1.6em;
}

.header__nav {
  display: none;
  flex-direction: column;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.header__nav--visible {
  display: flex;
}

/* ------------- Main ------------- */

.main__hero {
  min-height: 12em;
  min-width: 24em;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/assets/background.jpg");
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#ffffff, #ffffff00, #ffffff00);
  color: var(--base--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.main__hero-title {
  font-size: 2em;
  color: var(--base--white);
}

.main__article {
  padding: 1em;
}

.main__article a {
  display: block;
  color: var(--primary--green-accent);
  margin-bottom: 2em;
}

.green {
  background-color: var(--primary--green-accent);
  color: var(--base--white);
  padding: 4em 0;
}

.green h2 {
  margin: 1rem;
}

.green p {
  margin: 1rem;
  margin-bottom: 2em;
}

.green a {
  background-color: var(--base--white);
  padding: 0.6em;
  border-radius: 16px;
  margin: 1em;
  display: block;
  max-width: max-content;
}

/* ------------- Footer ------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--base--black);
  padding: 2em;
}

footer img {
  width: 32px;
  width: 32px;
  filter: invert(7%) sepia(21%) saturate(21%) hue-rotate(322deg) brightness(111%) contrast(89%);
}

footer h4 {
  font-size: 2em;
  margin: 1em;
  margin-top: 0;
}

.footer__social-links {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  padding-bottom: 1.4em;
  margin-bottom: 1.4em;
  border-bottom: 2px solid var(--base--black);
}

.footer__social-links a {
  height: 32px;
  width: 32px;
}

.footer__corporate-links {
  display: flex;
  flex-direction: row;
}

.footer__corporate-links a {
  padding: 0 1em;
}

.footer__corporate-links a:not(:last-child) {
  border-right: 2px solid var(--white);
}

/* ------------- Media Queries ------------- */


@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 80vw;
    margin: 0 auto;
  }
  
  .header__branding {
    font-size: 2.6em;
    margin: 1em 0;
  }

  .header__icon {
    width: 42px;
    height: 42px;
  }

  .header__nav {
    font-size: 1.2em
  }

  .main__hero-title {
    font-size: 3em;
  }

  .main__article {
    width: 80vw;
    margin: 0 auto;
  }

  .main__article h2 {
    font-size: 2em;
  }
  
  .main__article p {
    max-width: 30em;
    font-size: 1.4em;
  }

  .green {
    width: 100vw;
    padding: 4em 4em;
  }

  footer {
    width: 80vw;
    margin: 0 auto;
  }

  .footer__social-links {
    justify-content: center;
    gap: 4em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
  }

  .header__branding {
    font-size: 2em;
    margin: 1em 0;
  }

  .header__branding:hover {
    cursor: pointer;
  }

  .header__icon {
    display: none;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    font-size: 1em
  }

  .header__nav a:hover {
    color: var(--primary--green-accent);
    text-decoration: underline;
    transition: 0.4s;
  }

  .header__nav a:nth-of-type(3) {
    padding-right: 0;
  }

  .main__hero {
    min-height: 20em;
  }

  .main__hero-title {
    font-size: 4em;
  }

  .main__article {
    width: 50vw;
  }

  .main__article p {
    max-width: 30em;
  }

  .white {
    margin: 0 auto;
    padding: 2em 0;
    padding-left: 24em;
    display: none;
  }

  .lightgreen {
    background-color: var(--secondary--green-accent);
    padding: 2em 4em;
  }

  .green {
    padding: 4em 4em;
  }

  .main__article--container {
    display: flex;
    justify-content: space-around;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer img:hover {
    filter: invert(60%) sepia(6%) saturate(24%) hue-rotate(141deg) brightness(106%) contrast(105%);
    transition: 0.4s;
  }

  .footer__social-links {
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-bottom: none;
    padding: 0;
    margin: 0;
    width: unset;
  }
}